body
{
    background-color: #000000;
    color: #EEEEEE;
    text-align: center;
    font-size: 150%;
    font-family: 'Source Code Pro';
}

.bottom
{
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%;
    text-align: center;
}

.center
{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

a
{
    color: #FF0000;
}
